.git
.github
.cursor
.vscode
.idea

node_modules
.venv
venv
__pycache__

docs
k8s
*.md
!frontend/README.md

.editorconfig
.pre-commit-config.yaml
.gitignore
.dockerignore
.DS_Store

*.log
*.pid
htmlcov
.coverage
coverage.xml
